@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;900&display=swap');
body { font-family: 'Inter', sans-serif; background: #000; }
.glass-card { background: rgba(255, 255, 255, 0.02); backdrop-filter: blur(25px); }
.custom-scroll::-webkit-scrollbar { width: 3px; }
.custom-scroll::-webkit-scrollbar-thumb { background: rgba(255,255,255,0.1); border-radius: 10px; }
input::-webkit-inner-spin-button { -webkit-appearance: none; }
#timer-display { text-shadow: 0 0 40px rgba(255,255,255,0.05); }